=begin
#DocuSign REST API

#The DocuSign REST API provides you with a powerful, convenient, and simple Web services API for interacting with DocuSign.

OpenAPI spec version: v2.1
Contact: devcenter@docusign.com
Generated by: https://github.com/swagger-api/swagger-codegen.git

=end

require "uri"

module DocuSign_eSign

  class ListNotaryJournalsOptions
    # 
    attr_accessor :count

    # 
    attr_accessor :search_text

    # 
    attr_accessor :start_position

    def self.default
      @@default ||= ListNotaryJournalsOptions.new
    end
  end


  class NotaryApi
    attr_accessor :api_client

    def initialize(api_client = NotaryApi.default)
      @api_client = api_client
    end

    # Get notary jurisdictions for a user
    # 
    # @param DocuSign_eSign::ListNotaryJournalsOptions Options for modifying the behavior of the function.
    # @return [NotaryJournalList]
    def list_notary_journals(options = DocuSign_eSign::ListNotaryJournalsOptions.default)
      data, _status_code, _headers = list_notary_journals_with_http_info(options)
      return data
    end

    # Get notary jurisdictions for a user
    # 
    # @param DocuSign_eSign::ListNotaryJournalsOptions Options for modifying the behavior of the function.
    # @return [Array<(NotaryJournalList, Fixnum, Hash)>] NotaryJournalList data, response status code and response headers
    def list_notary_journals_with_http_info(options = DocuSign_eSign::ListNotaryJournalsOptions.default)
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: NotaryApi.list_notary_journals ..."
      end
      # resource path
      local_var_path = "/v2.1/current_user/notary/journals".sub('{format}','json')

      # query parameters
      query_params = {}
      query_params[:'count'] = options.count if !options.count.nil?
      query_params[:'search_text'] = options.search_text if !options.search_text.nil?
      query_params[:'start_position'] = options.start_position if !options.start_position.nil?

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = []
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'NotaryJournalList')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: NotaryApi#list_notary_journals\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
